In [10]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [11]:
engine = create_engine('sqlite:///pedidos.db')

In [12]:
#total de vendas por regiao
consulta_1 = "SELECT Regiao, SUM(Unidades) AS Total_Unidades_Vendidas FROM pedidos GROUP BY Regiao"
resultado_1 = pd.read_sql_query(consulta_1, engine)
print("Total de Vendas por região:\n")
print(resultado_1)

Total de Vendas por região:

         Regiao  Total_Unidades_Vendidas
0  Centro-Oeste                        9
1      Nordeste                        4
2         Norte                       10
3       Sudeste                        6
4           Sul                       11

In [13]:
#vendedor com maior número de vendas
consulta_2 = "SELECT Vendedor, SUM(Unidades) AS Total_Unidades_Vendidas FROM pedidos GROUP BY Vendedor ORDER BY Total_Unidades_Vendidas DESC LIMIT 1"
resultado_2 = pd.read_sql_query(consulta_2, engine)
print(resultado_2)

     Vendedor  Total_Unidades_Vendidas
0  Pedro Lima                       10

In [14]:
#total de vendas por item
consulta_3 = "SELECT Item, SUM(Unidades) AS Total_Unidades_Vendidas FROM pedidos GROUP BY Item ORDER BY Total_Unidades_Vendidas DESC" 
resultado_3 = pd.read_sql_query(consulta_3, engine)
print(resultado_3)

              Item  Total_Unidades_Vendidas
0          Espelho                        5
1          Cortina                        4
2          Cadeira                        4
3            Banco                        4
4        Luminária                        3
5             Cama                        3
6           Tapete                        2
7         Poltrona                        2
8   Mesa de Centro                        2
9             Mesa                        2
10    Guarda-roupa                        2
11     Criado-mudo                        2
12       Cabeceira                        2
13            Sofá                        1
14         Estante                        1
15          Cômoda                        1

In [ ]:
#media de preço por item
consulta_4 = "SELECT Item, AVG(PrecoUnidade) AS Media_Preco_Unidade FROM pedidos GROUP BY Item"
resultado_4 = pd.read_sql_query(consulta_4, engine)
print(resultado_4)