In [4]:
import pandas as pd

In [5]:
caminho_arquivo = 'data/livros.xlsx'
df = pd.read_excel(caminho_arquivo)
print(df)

                  Título           Autor             Gênero  \
0    Aventuras no Espaço      João Silva  Ficção Científica
1  O Mistério do Castelo    Maria Santos           Mistério
2        História Antiga  Pedro Oliveira           História
3       A Arte da Guerra       Ana Costa          Filosofia

   Ano de Publicação  Preço (R$)  Quantidade
0               2015       25.50         100
1               2018       19.99          85
2               2016       30.00         120
3               2014       15.75         150

In [6]:
print(df.head())
print(df.tail())

                  Título           Autor             Gênero  \
0    Aventuras no Espaço      João Silva  Ficção Científica
1  O Mistério do Castelo    Maria Santos           Mistério
2        História Antiga  Pedro Oliveira           História
3       A Arte da Guerra       Ana Costa          Filosofia

   Ano de Publicação  Preço (R$)  Quantidade
0               2015       25.50         100
1               2018       19.99          85
2               2016       30.00         120
3               2014       15.75         150
                  Título           Autor             Gênero  \
0    Aventuras no Espaço      João Silva  Ficção Científica
1  O Mistério do Castelo    Maria Santos           Mistério
2        História Antiga  Pedro Oliveira           História
3       A Arte da Guerra       Ana Costa          Filosofia

   Ano de Publicação  Preço (R$)  Quantidade
0               2015       25.50         100
1               2018       19.99          85
2               2016       30.00         120
3               2014       15.75         150

In [7]:
print(df.dtypes)

Título                object
Autor                 object
Gênero                object
Ano de Publicação      int64
Preço (R$)           float64
Quantidade             int64
dtype: object

In [9]:
#estatisticas descritivas
print(df.describe(), '\n')
print(df[['Preço (R$)', 'Quantidade']].describe())

       Ano de Publicação  Preço (R$)  Quantidade
count           4.000000     4.00000    4.000000
mean         2015.750000    22.81000  113.750000
std             1.707825     6.23774   28.099526
min          2014.000000    15.75000   85.000000
25%          2014.750000    18.93000   96.250000
50%          2015.500000    22.74500  110.000000
75%          2016.500000    26.62500  127.500000
max          2018.000000    30.00000  150.000000

       Preço (R$)  Quantidade
count     4.00000    4.000000
mean     22.81000  113.750000
std       6.23774   28.099526
min      15.75000   85.000000
25%      18.93000   96.250000
50%      22.74500  110.000000
75%      26.62500  127.500000
max      30.00000  150.000000