In [1]:
import pandas as pd

In [2]:
dados_titulos = {
    'Real Madrid': 34,
    'Barcelona': 26,
    'Liverpool':19,
    'Juventus':36,
    'Bayern Munich':30
}

dados_anuais = {
    'Real Madrid': [1956, 1957, 1958, 1959, 1960],
    'Barcelona':[1992, 2006, 2009, 2011, 2015],
    'Liverpool':[1977, 1978, 1981, 1984, 2005],
    'Juventus':[1958, 1985, 1996, 2011, 2015],
    'Bayern Munich':[1974, 1975, 1976, 2001, 2013]
}

In [4]:
series_titulos = pd.Series(dados_titulos)
series_anos = pd.Series(dados_anuais)

print(series_titulos, '\n')
print(series_anos)

Real Madrid      34
Barcelona        26
Liverpool        19
Juventus         36
Bayern Munich    30
dtype: int64

Real Madrid      [1956, 1957, 1958, 1959, 1960]
Barcelona        [1992, 2006, 2009, 2011, 2015]
Liverpool        [1977, 1978, 1981, 1984, 2005]
Juventus         [1958, 1985, 1996, 2011, 2015]
Bayern Munich    [1974, 1975, 1976, 2001, 2013]
dtype: object

In [6]:
#criando o dataframe
data = {'Títulos': series_titulos, 'Anos': series_anos}
dataframe_times = pd.DataFrame(data)
print(dataframe_times)

               Títulos                            Anos
Real Madrid         34  [1956, 1957, 1958, 1959, 1960]
Barcelona           26  [1992, 2006, 2009, 2011, 2015]
Liverpool           19  [1977, 1978, 1981, 1984, 2005]
Juventus            36  [1958, 1985, 1996, 2011, 2015]
Bayern Munich       30  [1974, 1975, 1976, 2001, 2013]

## Obtendo Insights

In [7]:
#media de títulos
media_titulos = dataframe_times['Títulos'].mean()
print(f'Média de Títulos: {media_titulos}')

Média de Títulos: 29.0

In [9]:
#time com mais títulos
mais_titulos = dataframe_times['Títulos'].idxmax()
qtd_titulos = dataframe_times['Títulos'].max()
print(f'Time com mais títulos: {mais_titulos} com {qtd_titulos} títulos')

Time com mais títulos: Juventus com 36 títulos

In [10]:
#ano com mais titulos
todos_anos = dataframe_times['Anos'].explode()
ano_mais_titulos = todos_anos.mode()[0]
print(f'Ano com mais títulos: {ano_mais_titulos}')

Ano com mais títulos: 1958